Hello <%= @user.first_name %> <%= @user.last_name %>!
you are registering to the coworkingBrest waiting list with : <%= @user.email %>.
please confirm your registration by click to the following link:
<a href=<%= ENV['CONFIRMATION_URL'] %>><%= ENV['CONFIRMATION_URL'] %></a>
Thank you!