<h1>Welcome to Coworking Brest!</h1>
<hr>
<%= link_to 'Register to the waiting list', new_user_path %>
<hr>

<!-- <h5>The current waiting list is:</h5>
<table>
  <thead>
    <tr>
      <th>
        waiting list index
      </th>
      <th>
        First name
      </th>
      <th>
        Last name
      </th>
      <th>
        confirmation?
      </th>
      <th>
        confirmation date
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index do |user, index| %>
      <tr>
        <td>
          <% if user.confirmed? %>
            <%= index+1 %>
          <% end %>
        </td>
        <td>
          <%= user.first_name.capitalize %>
        </td>
        <td>
          <%= user.last_name.capitalize %>
        </td>
        <td>
          <%= user.confirmed? %>
        </td>
        <td>
          <% if user.confirmation_date %>
            <%= user.confirmation_date.to_formatted_s(:short) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>  -->
